*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  color: rgb(82, 82, 82);
}

p {
  font-family: "Karla", sans-serif;
  color: rgb(82, 82, 82);
}
